.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 500px;
  max-width: 90%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  z-index: 500;
  background: none;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* @media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
} */
