.Home {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 5fr;
  position: relative;
}

.home-main {
  height: 100%;
  background: #eefcfc;
  min-height: 100vh;
}

@media (max-width: 499px) {
  .Home {
    grid-template-columns: 1fr;
  }
}
