.Login {
  height: 100vh;
  background-image: linear-gradient(
      rgba(79, 79, 79, 0.6),
      rgba(79, 79, 79, 0.6)
    ),
    url(/assets/images/login-background.jpg);
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.login-div {
  background: #fff;
  width: 500px;
  max-width: 90%;
  height: 80%;
  min-height: 500px;
  border: 1px solid #ccc;
  padding: 20px 40px 36px;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.logo-div {
  width: 40%;
  height: 10%;
  margin: auto;
}

.options-div {
  margin: auto;

  text-align: center;
}

.login-option {
  text-transform: capitalize;
  text-decoration: underline;
  margin-bottom: 5px;
  cursor: pointer;
  font: bold 12px Roboto, sans-serif;
  color: #97d2d5;
}

.login-modal-div {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 20px 40px 36px;
  box-sizing: border-box;
}

.login-option.modal {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.login-prop-user {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-transform: capitalize;
}

.login-prop-user ion-icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.login-prop-user ion-icon {
  cursor: pointer;
  font-size: 110px;
  margin-bottom: 5px;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

.login-prop-user.admin ion-icon {
  color: #212a37;
}

.login-prop-user.project-manager ion-icon {
  color: #db2121;
}

.login-prop-user.developer ion-icon {
  color: #48902a;
}

.login-prop-user.submitter ion-icon {
  color: #029ba9;
}

@media (max-width: 499px) {
  .login-prop-user ion-icon {
    font-size: 70px;
  }
}
